{% load static %}
<div class="row question">
    <div class="col-2">
        <img src='{{ item.image.url }}' width="130" height="130" alt="Image">
    </div>
    <div class="col-8 questionpanel">
        <a href='{% url 'univer' univer_id=item.id %}'>
            <h4 style="padding-bottom: 13px">{{ item.name }}</h4>
        </a>
        <a href='{% url 'panorama' univer_id=item.id %}'>
            <h5 style="padding-bottom: 13px">Панорама</h5>
        </a>
        <p style="word-wrap: break-word;">
            {{ item.description }}
        </p>
        <div class="question_text_urls">
            <a href=''> </a>

        </div>
    </div>
    <!--
    <span class="col-auto" style="margin-left: 70px; margin-top: -10px">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots"
             viewBox="0 0 18 18">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
        </svg>
    </span>
    -->

</div>

