{% extends "layouts/base_admin.html" %}


{% block links %}

{% endblock %}


{% block title %}
    Управление вузами
{% endblock %}


{% block main %}

    <h3>
        Верефицированные вузы
    </h3>
    {% for item in univers.verified %}
        {% include 'components/universitite-item.html' %}
    {% endfor %}
    <h3>
        На модерации
    </h3>
    {% for item in univers.on_moderate %}
        {% include 'components/universitite-item.html' %}
    {% endfor %}
    <h3>
        Отклоненные
    </h3>
    {% for item in univers.declined %}
        {% include 'components/universitite-item.html' %}
    {% endfor %}
{% endblock %}