{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
Добавление университета
{% endblock %}



{% block left-side %}

    <form action='{% url 'add_univer' %}' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.widget_type.index %}
            {% endif %}
            <div class="error_1"> {{ field.errors }} </div>

            <div class="row ask_question">
                <div class="col-2" style="margin-right: 10px">
                    {{ field.label }}
                </div>
                {{ field }}
            </div>
        {% endfor %}

        <input style="margin-left: 145px; width: 90px" type="submit" value="Добавить">
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}