{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
Для вузов
{% endblock %}



{% block left-side %}

    <div class="row" style="margin-bottom: 60px">
        <div class="col-4">
            <h2>Для университетов</h2>
        </div>

        <div>
            <a>На данной странице вы можете зарегистрировать свой университет.
                Для этого выполните ряд действий.
            </a>

            <ol>
             <li>Зарегистрируйтесь на сайте, как представитель вуза
                 (у вуза может быть только один аккаунт представителя)
             </li>
             <li>Авторизуйтесь в аккаунте представителя</li>
             <li>Перейдите на страницу "Университетам"</li>
                <li>Нажмите "Зарегистрировать вуз"</li>
            </ol>

            <a>
                Для проверки вуза будет предложено несколько вариантов
                проверки документов.
                Данный этап можно завершить в настройках вуза.
            </a>

        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
    <script src="{% static 'js/checkbox-right.js' %}"></script>
{% endblock %}