{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
Panorama
{% endblock %}

{% block left-side %}
                <div class="row" style="margin-bottom: 60px">
                    <div class="col-4">
                        <h2>Университеты</h2>
                    </div>
                </div>

                <!-- цикл для отображения университетов, очень удобно -->
                {% for item in universities %}
                    {% include 'components/universitite-item.html' %}
                {% endfor %}

{% endblock %}


{% block scripts %}
    <script src='{% static 'js/like-counter.js' %}'></script>
{% endblock %}