{% extends "layouts/documents.html" %}
{% load static %}

{% block title %}
    Политика конфидициальности
{% endblock %}



{% block main %}

    <div class="row" style="margin-bottom: 60px">

            <h2>Политика конфидициальности</h2>


        <div>

            <ol style="margin-top: 40px">
                <li>
                    Предмет соглашения: Хранитель обязуется хранить и обрабатывать персональные данные Клиента,
                    включая копии студенческого билета, в соответствии с требованиями действующего законодательства о
                    защите данных.
                </li>
                <li>
                    Конфиденциальность: Обе стороны соглашаются соблюдать конфиденциальность персональной информации,
                    переданной в хранение, и не разглашать её третьим лицам без предварительного письменного согласия
                    другой стороны.
                </li>
                <li>
                    Цель обработки данных: Хранитель обязуется использовать персональные данные и копии
                    студенческого билета исключительно для оказания услуг по хранению и аутентификации Клиента и не
                    передавать их третьим лицам без согласия Клиента.
                </li>
                <li>
                    Безопасность данных: Хранитель обязуется принимать все необходимые меры для обеспечения
                    безопасности хранения и обработки персональных данных, включая защиту от несанкционированного
                    доступа, разглашения, изменения или уничтожения.
                </li>
                <li>
                    Срок хранения: Персональные данные и копии студенческого билета будут храниться Хранителем до
                    момента окончания предоставления услуги Клиенту или до тех пор, пока это не будет необходимо в
                    соответствии с действующим законодательством.
                </li>
                <li>
                    Ответственность: В случае нарушения условий соглашения одной из сторон, она несет ответственность в
                    соответствии с действующим законодательством.
                </li>
                <li>
                    Заключительные положения: Любые изменения или дополнения к соглашению должны
                    быть оформлены письменно и подписаны обеими сторонами.
                </li>
            </ol>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
    <script src="{% static 'js/checkbox-right.js' %}"></script>
{% endblock %}