{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
Политика конфидициальности
{% endblock %}



{% block left-side %}

    <div class="row" style="margin-bottom: 60px">
        <div class="col-4">
            <h2>Политика конфидициальности</h2>
        </div>

        <div>
            <a>
                1. Общие положения

1.1. Настоящая Политика является неотъемлемой частью Правил оказания услуг (далее – «Правила»), размещенного и/или доступного в сети Интернет по адресу: , а также Договоров, заключаемых между Сторонами в соответствии с указанными Правилами.
1.2. Направление Агенту Поручения, предоставление любых документов или сведений конфиденциального характера, заключение Договора в соответствии с Правилами подтверждает ваше ознакомление и безоговорочное принятие настоящей Политики.ф
            </a>

        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
    <script src="{% static 'js/checkbox-right.js' %}"></script>
{% endblock %}