{% extends "layouts/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href={% static 'css/upload_form.css' %}>
{% endblock %}

{% block title %}Settings{% endblock %}


{% block left-side %}
    <div class="col-5">
        <h2 style="margin-bottom: 60px">Settings: {{ user.first_name }}</h2>
    </div>
    <form action='{% url 'settings' %}' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.widget_type.index %}
            {% endif %}
            <div class="error_1"> {{ field.errors }} </div>

            <div class="row ask_question">
                <div class="col-2" style="margin-right: 10px">
                    {{ field.label }}
                </div>
                {{ field }}
            </div>
        {% endfor %}
    <span>Your avatar now:</span>
    <div class="col-9" style="margin-left: 145px; margin-bottom: 30px">
         <img src="{{ user.profile.image.url }}" alt="Now avatar" width="100px" height="100px">
    </div>
        <input style="margin-left: 145px; width: 90px" type="submit" value="Save">
    </form>



    <!--
    <div class="row ask_question">
        <h6 class="col-2">Login</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">Email</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">NickName</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">Upload avatar</h6>


        <form class="col-9" style="padding: unset" id="upload-container" method="POST" action="#">
            <input id="file-input-image" type="file" name="file" multiple>
            <label for="file-input-image"><img style="margin-left: 29%" id="upload-image"
                                               src="../static/img/upload.svg"></label>
            <div>
                <input id="file-input" type="file" name="file" multiple>
                <label for="file-input">Выберите файл</label>
                <span>или перетащите его сюда</span>
            </div>
        </form>
    </div>
    <div class="row">
        <button class="col-9" style=" width: 90px">Save</button>
    </div>

     -->


{% endblock %}

