{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
Login
{% endblock %}


{% block main %}

<div align=center>
    <div>Регистрация</div>
    <div>
<!--
        <form action="/signup_prove">
            <label for="ulogin">Логин</label><br>
            <input type="text" id="ulogin"><br>
            <label for="upassword">Пароль</label><br>
            <input type="text" id="upassword"><br>
            
            <input type="radio" id="user" name="type" value="user">
            <label for="user">Абитуриент</label><br>
            <input type="radio" id="student" name="type" value="student">
            <label for="student">Студент</label><br>
            <input type="radio" id="organisation" name="type" value="Organisation">
            <label for="organisation">Организация</label>
            
            <label for="uname">Название</label><br>
            <input type="text" id="upassword"><br>

            <input type="submit" value="Войти">
        </form>
-->
        
    </div>
</div>

{% endblock %}
