{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    {% block links %}

    {% endblock %}
    <title>
        {% block title %}
        Panorama
        {% endblock %}
    </title>
</head>
<body>
{% block navbar %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

        <div class="container-fluid">

            <div class="dropdown1 navbar1 col-0">
                <button class="dropbtn">
                    <svg xmlns='{% static 'img/list.svg' %}' width="16" height="16" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                    </svg>

                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Главная</a>

                </div>
            </div>

            <div class="col-1">
                <a class="navbar-brand" style="margin-left:90px" href={% url 'index' %}>
                    Panorama
                </a>
            </div>
            <div class="col-7">
                <!--
                <form class="d-flex" role="search" style="margin-left: 70px">
                    <input style="width:580px" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>

            <div class="col-3">
                <div class="row" style="width: auto;margin-left: 30%">
                    <div class="col-2" style="margin-right: 10px">
                        {% if request.user.is_authenticated %}
                            <img src='{{ user.profile.image.url }}' alt="Logo" width="50" height="44"
                                 class="d-inline-block align-text-top">
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="col-8" style="margin-left: 20px">
                            <a style="color:#fff">{{ user.username }}</a>
                            <div class="row-cols-3">
                                <a href='{% url 'settings' %}' style="color:#fff">Настройки</a>
                                <a href='{% url 'logout_user' %}' style="color:#fff ">Выход</a>
                            </div>
                        </div>
                    {% else %}

                        <div class="col-8" style="margin-left: 20px">
                            <div class="row-cols-3">
                                <a href='{% url 'login' %}' style="color:#fff; margin-right: 20px">Вход</a>
                                <a href='{% url 'signup' %}' style="color:#fff ">Регистрация</a>
                            </div>
                        </div>

                    {% endif %}
                </div>


            </div>
        </div>

    </nav>

{% endblock %}


<main class="container">
    {% block main %}

    {% endblock %}
</main>


{% block scripts %}

{% endblock %}


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Panorama</p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href='{% url 'index' %}' class="nav-link px-2 text-body-secondary">Panorama</a></li>

            <li class="nav-item"><a href='{% url 'policy' %}'  class="nav-link px-2 text-body-secondary">Политика конфидициальности</a></li>

        </ul>
    </footer>
</div>

</body>
</html>